.navbar-div{
    width: 100vw;
    height: 6vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.icon-color-dark
{
 filter:invert(70%) sepia(34%) saturate(560%) hue-rotate(15deg) brightness(95%)
}
.icon-color-light
{
    filter: invert(28%) sepia(63%) saturate(360%) hue-rotate(356deg) brightness(90%);
}